services:

  tests:
    build:
      context: ..
      dockerfile: Monero.Lws.IntegrationTests/Dockerfile
    environment:
      XMR_LWS_URI: http://lws:8443
      TESTS_INCONTAINER: "true"
    depends_on:
      - lws
    extra_hosts:
      - "tests:127.0.0.1"
    volumes:
      - ../coverage:/coverage

  # The dev container is not used, it is just handy to run `docker-compose up dev` to start all services
  dev:
    image: alpine:3.22.1
    container_name: dev
    command: [ "/bin/sh", "-c", "trap : TERM INT; while :; do echo Ready to code and debug like a rockstar!!!; sleep 2073600; done & wait" ]
    depends_on:
      - lws

  node_1:
    image: btcpayserver/monero:0.18.4.2
    container_name: node_1
    command: [
      "monerod",
      "--fixed-difficulty=200",
      "--log-level=2",
      "--p2p-bind-ip=0.0.0.0",
      "--p2p-bind-port=48080",
      "--rpc-bind-port=18089",
      "--rpc-bind-ip=0.0.0.0",
      "--confirm-external-bind",
      "--rpc-access-control-origins=*",
      "--add-exclusive-node=node_2:18080",
      "--regtest",
      "--no-igd",
      "--hide-my-port",
      "--no-zmq",
      "--max-connections-per-ip=100",
      "--rpc-max-connections-per-private-ip=100",
      "--start-mining=42U9v3qs5CjZEePHBZHwuSckQXebuZu299NSmVEmQ41YJZQhKcPyujyMSzpDH4VMMVSBo3U3b54JaNvQLwAjqDhKS3rvM3L",
      "--mining-threads=1",
      "--non-interactive"
    ]
    volumes:
      - xmr_node_1_data:/data
    ports:
      - "48080:48080"
      - "18089:18089"

  node_2:
    image: btcpayserver/monero:0.18.4.2
    container_name: node_2
    command: [
      "monerod",
      "--fixed-difficulty=200",
      "--log-level=2",
      "--disable-rpc-ban",
      "--p2p-bind-ip=0.0.0.0",
      "--p2p-bind-port=18080",
      "--rpc-bind-ip=0.0.0.0",
      "--confirm-external-bind",
      "--rpc-bind-port=18081",
      "--rpc-access-control-origins=*",
      "--rpc-ssl=disabled",
      "--zmq-rpc-bind-ip=0.0.0.0",
      "--zmq-rpc-bind-port=18082",
      "--zmq-pub=tcp://0.0.0.0:18084",
      "--add-exclusive-node=node_1:48080",
      "--regtest",
      "--no-igd",
      "--hide-my-port",
      "--max-connections-per-ip=100",
      "--rpc-max-connections-per-private-ip=100",
      "--non-interactive"
    ]
    volumes:
      - xmr_node_2_data:/data
    ports:
      - "18080:18080"
      - "18081:18081"
      - "18082:18082"
      - "18084:18084"
    depends_on:
      - node_1

  lws:
    image: vtnerd/monero-lws:master
    container_name: lws
    command: >
      --daemon=tcp://node_2:18082
      --sub=tcp://node_2:18084
      --log-level=4
      --webhook-ssl-verification=none
      --disable-admin-auth
      --admin-rest-server=http://0.0.0.0:8443/admin
      --rest-server=http://0.0.0.0:8443/lws
      --access-control-origin=*
      --confirm-external-bind
      --max-subaddresses=200
      --auto-accept-creation
      --regtest
    volumes:
      - xmr_lws_data:/data
    ports:
      - "8443:8443"
    depends_on:
      - node_2

volumes:
  xmr_node_1_data:
  xmr_node_2_data:
  xmr_lws_data:
